.contacts-container {
  /* border: 1px solid green; */
  background-color: #3e0e40;
  position: fixed;
  height: 100%;
  width: 220px;
  color: white;
  padding-left: 10px;
  padding-top: 10px;
}

ul {
  list-style: none;
}
li {
  padding: 8px;
}
h1 {
  font-size: 16px;
}

.app-search {
  box-sizing: border-box;
  width: 90%;
  background-color: #6a496b;
  border: none;
  color: white;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

.search-container {
  margin-top: 10px;
}
.channels-container {
  margin-top: 20px;
}
.direct-messages-container {
  margin-top: 80px;
}
