header {
  padding: 20px;
}
header h1 {
  font-size: 18px;
}

.landing-main {
  width: 100%;
  text-align: center;
  padding: 20px;
}
.landing-line-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.landing-line {
  font-size: 52px;
  font-weight: bold;
  max-width: 40%;
  margin: 0 auto;
}

button {
  background-color: #611f69;
  color: white;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 15%;
  text-transform: uppercase;
}
.p-sign-in-prompt {
  margin-top: 10px;
  margin-bottom: 10px;
}
